body {
  background-color: #0c1417;
  overflow: hidden;
  color: #c9cacb;
}

h1 {
    color: #206ED2;
}

a {
  color: #c9cacb;
}

#main-section {
    overflow: hidden; /* Makee this div contain its floated children */
    width: 100%;
}

.jumbotron {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #2a2f32;
}

.jumbotron p {
  color: #7b7f81;
}

#image-section {
    min-width: 30%;
    max-width: 30%;
    margin-right: 2em;
    padding: 0 0 0 2em;
    float: left;
}

img {
    float: left;
    max-width: 100%;
    max-height: 480px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#righthand-side {
    padding: 0 3em 0 0;
    overflow: hidden; /* Make this div take up the rest of the horizontal space, and no more */
}

h2 {
    color: #5b9cfc;
}

#righthand-side p {
    font-size: 0.8em;
    color: grey;
}

@media (max-width: 588px) {
    picture {
        display: none;
    }
    #righthand-side {
        padding-left: 1.5em;
    }
}

@media (min-width: 1000px) {
    #righthand-side {
        max-width: 50%;
    }
}

.formError {
    list-style-type:none;
    padding:0px;
    color: red;
}

input[type='text']:focus, input[type='password']:focus {
    border-color: #ffc107;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 10px #ffc107;
}


 .tt-input, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
    width: 396px;
    /* height: 30px; */
    /* padding: 8px 12px; */
    /* font-size: 24px;
    line-height: 30px; */
    /* border: 2px solid #ccc; */
    /* border-radius: 8px; */
    /* outline: none; */
}

.tt-input { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    top: 100%;
    width: 396px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}
