{% from 'chat/field-macro.html' import displayField %}
{% extends "chat/prelogin-layout.html" %}

{% block title %}Edit Profile{% endblock title%}
{% block flash %} {% endblock flash %}
{% block content %}
        <h2>Change Password</h2>
        <p>Make your new password here.</p>

        <form action="{{ url_for('chat_app.change_password') }}" method="POST" novalidate>
            {{ displayField(form.last_password, 'Last password') }}
            {{ displayField(form.new_password1, 'New password') }}
            {{ displayField(form.new_password2, "Confirm new password") }}
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h5 class="text-success">{{ message }}</h5>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="form-group">
                <input type="submit" value="Change password" class="btn btn-warning">
            </div>
            {{ form.csrf_token }}
        </form>

{% endblock %}