{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ img_url }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{ heading }}</h1>
            <span class="subheading">{{ subheading }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <a class="btn btn-success btn-lg btn-block" href="{{url_for('chat_app.chat_home')}}">
            Chat App
          </a>
        {% if all_posts|length - 5*(page_number-1) > 5 %}
        {% set posts = all_posts[(page_number-1)*5:(page_number-1)*5 + 5] %}
        {% else %}
        {% set posts = all_posts[(page_number-1)*5:] %}
        {% endif %}
        {% for post in posts %}
        <div class="post-preview">
          <a href="{{ url_for('show_post', post_id=post.id) }}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.subtitle}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{post.author.name}}</a>
            on {{post.date}}
            {% if check_admin %}
            <a href="{{url_for('admin_app.delete_post', post_id=post.id) }}">✘</a>
            {% endif %}
            <br>
            <i class="far fa-eye"></i> {{ post.views }}
          </p>
        </div>
        <hr>
        {% endfor %}

        <div class="clearfix">
          {% if prev_page %}
          <a class="btn btn-dark float-left" href="{{ url_for('get_all_posts', page_number=page_number-1) }} ">
            Prev
          </a>
          {% endif %}
          {% if next_page %}
          <a class="btn btn-dark float-left" href="{{ url_for('get_all_posts', page_number=page_number+1) }}">
            Next
          </a>
          {% endif %}
        </div>

        <!-- New Post -->
        {% if check_admin() %}
        <br>
        <div class="clearfix">
          <a class="btn btn-primary float-left" href="{{url_for('admin_app.upload_img')}}">
            Upload Image
          </a>
          <a class="btn btn-primary float-right" href="{{url_for('admin_app.add_new_post')}}">
            Create New Post
          </a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <hr>

{% include "footer.html" %}