<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="{{ url_for('static', filename='css/lebaran.css') }}" rel="stylesheet">
</head>
<body>
    <div class="card">
		<div class="imgBox">
			<div class="bark"></div>
			<img src="https://i.ibb.co/0qGRZr4/ketupat-fix.png">
		</div>
		<div class="details">
			<h4 class="color1">Selamat Idul Fitri </h4>
			<h4 class="color2 margin">Taliah Aqilah Farnaz</h4>
			<p>Assalamualaikum tal,</p>
			<p>Tak ada gading yang tak retak</p>
			<p>Pasti tak terhitung kesalahan</p>
			<p>baik sengaja atau ngga.</p>
			<p>Maka, mohon maaf lahir dan batin.</p>
			<p>Taqabbalallahu minna wa minkum.</p>
			<p>Semoga kita dipertemukan dengan</p>
			<p>Ramadan tahun depan.</p>
			<p class="text-right">Arsa Izdihar Islam</p>
		</div>
	</div>
</body>
</html>