{% include "header.html" %}
    <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1489875347897-49f64b51c1f8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Visitor List</h1>
            <span class="subheading">Here's all the visitors.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

    <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for visitor in visitors %}
            <div class="post-preview">
                <h2 class="post-title">{{ visitor.date_time }}</h2>
                <p class="post-meta">{{ visitor.user_agent }} <a href="{{url_for('admin_app.show_visitors', id=visitor.id) }}">✘</a></p>
            </div>
            {% endfor %}
        </div>
      </div>
          <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{url_for('admin_app.show_visitors', delete_all=True)}}">Delete All</a>
        </div>
    </div>
  </article>

  <hr>
{% include "footer.html" %}